body {
    font-family: Arial, sans-serif;
    font-size: 18px;

    line-height: 25px;

    color: #444444;

    background-color: #dadada;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 100px 100px;
}

.title {
    text-align: center;
    letter-spacing: 2px;

    text-transform: uppercase;
}

.justify {
    text-align: justify;
    font-weight: normal;
}

ul {
    list-style-type:square;
    list-style-position:outside;
}

.table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

.table th {
    text-align: left;
    padding: 5px 10px;
    color: rgb(47, 91, 109);
}

.table td {
    border: 1px solid #000;
    padding: 5px 10px;
}

.text-red {
    display: inline-block;
    padding: 10px;
    color: #ce2424;
    font-weight: 700;
    font-style: italic;
}

.page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* post */
.post {
    width: 600px;
    height: 300px;
    padding: 15px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    border: 1px solid #000;
    background-color: #fff;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
}

.post-title{
    margin: 0;
    color: rgb(241, 241, 111);
}

.post-text p{
    margin: 0 0 10px 0;
    color: #fff;
}

/* Gradient */

.gradient {
    width: 600px;
    height: 300px;
    margin: 0 auto;

    background-image: radial-gradient(circle, #fff, #333);
}

/* Form */
.form {
    width: 500px;
    padding: 20px;
    margin: auto;

    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;

}

.form-input {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 5px;

    border: 1px solid #000;
}

.form-input:focus {
    outline: none;

    background-color: #bddbff;
}

.form-textarea {
    font-family: Arial, sans-serif;
    font-size: 18px;

    width: 200px;
    height: 150px;
    padding: 5px;

    border: 1px solid #000;
}



.link {
    color: #1d76dd;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.btn {
    background-color: #43ac13;
    color: #fff;

    border: 1px solid #3a9112;

    padding: 5px 10px;
}

.btn:hover {
    background-color: #3a9112;
    cursor: pointer;
}

.btn:active {
    background-color: #2c760a;
}

.btn:disabled{
    background-color: #444;
    color: #808080;
    cursor: not-allowed;
    border: 1px solid #444;
}

.form-fieldset{
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #000;

}

.form-title{
    margin: 0 0 15px;
}